<div class="container">
  <div class="row"  style="background-color: #24a0ed;">
    <div class="col">
        <h3 class="color">  CREATE COMPONENT</h3>
    </div>
    </div>
    <div class="row">
      
      <div class="col-2"></div><div class="col-8">
        <form>
          
          <div class="form-group">
            <label for="soeid">SOEID</label>
            <input type="text" class="form-control" maxlength="7" id="soeid" name="soeid" ngModel placeholder="EmployeeName"
              required >
          </div>

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" ngModel placeholder="EmployeeName"
              required >
          </div>

          <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" name="age" ngModel placeholder="Employee age"
              required >
          </div>
       <!--   <div *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert alert-danger">
      
        <div *ngIf="name.errors.required">
          Name is required.
        </div></div>-->

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" ngModel
              placeholder="EmployeEmail" 
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
          </div>

          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" pattern="[789][0-9]{9}" ngModel placeholder="Employee Phone"
              required >
          </div>
          <!--
          <div *ngIf="email.touched">
            <div *ngIf="email.errors?.required" class="alert alert-danger">Email is required</div>
            <div *ngIf="email.errors?.pattern" class="alert alert-danger">This is not a valid Email</div>
          </div>-->
        

          <button class="btn btn-primary" (click)="createEmployee()">Add New Employee</button>
        </form>
        
      </div><div class="col-2">
        <div *ngIf="message">
          <div class="alert alert-info" role="alert">
            {{message}}
          </div>
        </div>
      </div></div></div>
  